<div class="navbar">
    <div class="menu"><a href='{{ site.baseurl }}/'>HOME</a></div>
    <div class="menu"><a href='{{ site.baseurl }}/W01/'>W01</a></div>
    <div class="menu"><a href='{{ site.baseurl }}/W02/'>W02</a></div>
    <div class="menu"><a href='{{ site.baseurl }}/W03/'>W03</a></div>
    <div class="menu"><a href='{{ site.baseurl }}/W04/'>W04</a></div>
    <div class="menu"><a href='{{ site.baseurl }}/W05/'>W05</a></div>
    <div class="menu"><a href='{{ site.baseurl }}/W06/'>W06</a></div>
    <div class="menu"><a href='{{ site.baseurl }}/W07/'>W07</a></div>
    <div class="menu"><a href='{{ site.baseurl }}/W08/'>W08</a></div>
    <div class="menu"><a href='{{ site.baseurl }}/W09/'>W09</a></div>
    <div class="menu"><a href='{{ site.baseurl }}/W10/'>W10</a></div>
    <div class="menu"><a href='{{ site.baseurl }}/TXT/mypubkey.txt'>KEY</a></div>
    <div class="menu"><a href='{{ site.baseurl }}/TXT/myrank.txt'>RANK</a></div>
    <div class="menu"><a href='{{ site.baseurl }}/TXT/mylog.txt'>LOG</a></div>
    <div class="menu"><a href='{{ site.urlgithub }}/'>GitHub</a></div>
</div>
